
h4 {
  text-align: center;
  margin: 0 0;
}

.scoreboard {
  margin: 10px auto;
  text-align: center;
  box-sizing: border-box;
  width: 800;
}

.draggable {
  cursor: move;
}

svg {
  background-image: url("http://i.imgur.com/gPXEMN6.gif");
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: block;
  margin: auto;
}

/*
  Make the asteroids rotate
*/
.asteroids {
  animation-name: asteroids;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
}

@keyframes asteroids {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}


/*
  Flash the Collision score box when collision occurs
*/
.flash {
  animation-name: flash;
  animation-duration: 1s;
}

@keyframes flash {
  0% {background-color: white;}
  50% {background-color: red;}
  100% {background-color: white;}
}
